.template-slide {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

#exterior-slide1 {
  background-image: url('../../Images/IMG-6100.JPG');
}

#exterior-slide2 {
  background-image: url('../../Images/IMG-6099.JPG');
  background-size: cover;}

#exterior-slide3 {
  background-image: url('../../Images/IMG-6098.JPG');
}

#interior-slide1 {
  background-image: url('../../Images/IMG-5811.JPG')
}

#interior-slide2 {
  background-image: url('../../Images/IMG-5812.JPG')
}

#interior-slide3 {
  background-image: url('../../Images/IMG-5813.JPG')
}

#interior-slide4 {
  background-image: url('../../Images/IMG-5814.JPG')
}

#interior-slide5 {
  background-image: url('../../Images/IMG-5815.JPG')
}

#interior-slide6 {
  background-image: url('../../Images/IMG-5816.JPG')
}

#interior-slide7 {
  background-image: url('../../Images/IMG-5817.JPG')
}

#interior-slide8 {
  background-image: url('../../Images/IMG-5818.JPG')
}

#interior-slide9 {
  background-image: url('../../Images/IMG-5819.JPG')
}

#interior-slide10 {
  background-image: url('../../Images/IMG-5834.JPG')
}

#interior-slide11 {
  background-image: url('../../Images/IMG-5835.JPG')
}

#interior-slide12 {
  background-image: url('../../Images/IMG-5836.JPG')
}

#interior-slide13 {
  background-image: url('../../Images/IMG-5837.JPG')
}




.slider {
  height: 37vh;
  margin: 0 auto;
}

button {
  background-color: #f8f8f8;
  padding: 20px;
  width: 50vw;
  margin: 0 auto;
  color: #a7a7a7;
  border: 1px solid #a7a7a7;
  margin-bottom: 60px;
}

button:first-of-type {
  border-right: 0px;
}








@media only screen and (min-width: 510px) {
 .slider {
  height: 50vh;
}
}

@media only screen and (min-width: 610px) {
 .slider {
  height: 55vh;
}
}

@media only screen and (min-width: 715px) {
 .slider {
  height: 60vh;
}
}

@media only screen and (min-width: 815px) {
 .slider {
  height: 70vh;
}
}

@media only screen and (min-width: 915px) {
  .slider {
    height: 84vh;
    width: 80vw;
  }

  button {
    background-color: #f8f8f8;
    padding: 20px;
    width: 40vw;
    margin: 0 auto;
    color: #a7a7a7;
    border: 1px solid #a7a7a7;
    margin-bottom: 60px;
  }

  #slide1 {
    background-position: top center;
  }

  #slide2 {
    background-position: top;
  }

  #slide3 {
    background-position: top;
  }
}