.home-hero-image {
  background: url('../../Images/IMG-6100.JPG');
  /* width: 100vw;
  height: 76vh; */
  background-size: cover;
  background-position: center top;
  color: white;
  background-repeat: no-repeat;
  /* padding-top: 39vh; */
  width: 100vw;
  /* margin: 40px 0; */
  height: 34vh;
  margin: 0 auto;
}

.monarch-logo {
    background: url('../../Images/monarch_painting-color.png');
  /* width: 100vw;
  height: 76vh; */
  background-size: contain;
  background-position: center top;
  color: white;
  background-repeat: no-repeat;
  /* padding-top: 39vh; */
  width: 100vw;
  /* margin: 40px 0; */
  height: 30vh;
  margin: 0 auto;
}

.trans-background {
  background-color: #00000090;
  width: 100vw;
  /* margin-left: 20vw; */
  padding-bottom: 20px;
  max-height: 37vh;
  overflow: scroll;
}

.trans-background p {
  font-size: 13px;
}