.App {
  text-align: center;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 92vh 8vh;
  grid-template-columns: 100vw; */
  max-height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f8f8f8;
  color: #141414;
}

p {
  text-align: left;
}


p:last-of-type {
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 76%;
  margin: 20px auto 10px auto;
}

h1 {
  font-size: 20px;
  margin: 6px auto;
}

h2 {
  font-size: 18px;
}

h4 {
  /* text-align: l */
}

a {
  text-decoration: none;
}

li {
  list-style: square inside url('./Images/paint-brush-16.png');
  text-align: left;
  padding: 2px 0;
  max-width: 76%;
  margin: 0 auto;
}

.main-container {
  display: block;
  height: 92vh;
  overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
  padding-bottom: 100px;
  border-bottom: 1px solid #bbbbbb;
}

.process-image {
  width: 100vw;
  margin: 40px 0;
  height: 60vw;
  background: url('./Images/bluehouse.png');
  background-size: cover;
  background-repeat: no-repeat;
}


@media only screen and (min-width: 815px) {
  .App {
  flex-direction: column-reverse;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 65%;
  margin: 20px auto 10px auto;
}

}

